
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string title = "Orders";
}

@using Ornaments.Core.Dtos.Order;
@model FilterOrderDto
<partial name="_AdminTitle" model="title" />
@section Styles{
    <style>
        .w-100 {
            width: 100% !important;
        }

        .border-success {
            border: 1px solid green;
        }
    </style>
}
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Filter
            </div>
            <form id="filter-form" asp-area="Admin" asp-controller="Order" asp-action="Index" method="get">
                <input type="hidden" asp-for="PageId" />
                <div class="form-group">
                    <div class="form-group">
                        <label>Phone</label>
                        <input asp-for="Phone" class="form-control">
                    </div>
                </div>
            </form>
            <!-- /.panel-heading -->
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            List
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>PermentDate</th>
                            <th>Full Name</th>
                            <th>Post Code</th>
                            <th>نوع پرداخت</th>
                            <th>Status</th>
                            <th>Commands</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Orders)
                        {
                            <tr>
                                <td>@item.Phone</td>
                                <td>@item.Address</td>
                                <td>@item.PermentDate</td>
                                <td>@item.FullName</td>
                                <td>@item.PostCode</td>
                                @if (item.PayInHome)
                                {
                                    <td style="font-size:13px;">پرداخت درب منزل</td>
                                }
                                else
                                {
                                    <td style="font-size:13px;">پرداخت آنلابن</td>

                                }
                                <td>
                                    <form asp-area="Admin" asp-controller="Order" asp-action="AddStatus" method="post">
                                        <input value="@item.Status" name="status" />
                                        <input value="@item.Id" type="hidden" name="orderId" />
                                       <button type="submit" class="btn btn-sm btn-warning text-white">Add Status</button>

                                    </form>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-warning text-white" asp-area="Admin" asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@item.Id">Delete</a>
                                    <a class="btn btn-sm btn-warning text-white" asp-area="Admin" asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@item.Id">OrderDetails</a>
                                  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <partial name="_AdminPaging" model="@Model.GetCurrentPaging()" />
                <div class="row">
                    <div class="col-12">
                        <div style="padding:1.5rem" class="dataTables_info text-info border-success" id="dataTables-example_info" role="alert" aria-live="polite" aria-relevant="all">@Model.GetCurrentPagingStatus()</div>
                    </div>
                </div>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>








