
@model Order
@using Ornaments.Core.Extensions;
@using Ornaments.DataAccess.Entities.Order;
@using RadioMeti.Application.Utilities.Utils;
<div class="container">
			<form action="#">
				<div class="row">
					<div class="col-12">
						<div class="table_desc">
							<div class="cart_page table-responsive">
								@if (Model.OrderDetails!=null&&Model.OrderDetails.Any())
								   {
									   <table>
									<thead>
										<tr>
											<th class="product_remove">حذف</th>
											<th class="product_thumb">تصویر</th>
											<th class="product_name">محصول</th>
											<th class="product-price">قیمت</th>
											<th class="product-price">تخفیف</th>
											<th class="product_quantity">تعداد</th>
											<th class="product_total">جمع کل</th>
										</tr>
									</thead>
									<tbody>
									

									
									   @foreach (var item in Model.OrderDetails)
								   {
									   	<tr>
											<td class="product_remove"><a onclick="removeProductFromOrder(@item.Id)"><i class="fa fa-trash-o"></i></a></td>
											<td class="product_thumb">
												<a href="#"><img src="@(PathExtension.OrnamentImageThumbPath+item.Ornament.Image)" alt=""></a>
											</td>
											<td class="product_name"><a href="#">@item.Ornament.Name</a></td>
											<td class="product-price">@((item.Ornament.Price).ToString("n0")) تومان</td>
										
											<td class="product-price">
												@item.OrderDetailWithDiscountPrice()
											</td>
											<td class="product_quantity">
												<label>تعداد</label>
												<input min="1" max="100" value="@item.Count" type="number">
											</td>
											<td class="product_total">
												@item.OrderDetailWithDiscountPriceAndCount() تومان
												</td>


										</tr>
										}

									
								</tbody>
								</table>
								}
									else
									{
									string noItemFoundError="سبد خرید شما خالی می باشد";

										<partial name="_NoItemFound" model="@noItemFoundError"/>
									}
							</div>
							@*<div class="cart_submit">
								<button type="submit">به روز رسانی سبد</button>
							</div>*@
						</div>
					</div>
				</div>
				<!--coupon code area start-->
			@if (Model.OrderDetails != null && Model.OrderDetails.Any())
			{
				<div class="coupon_area">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="coupon_code left">
								<h3>کد تخفیف</h3>
								<div class="coupon_inner">
									<p>کد تخفیف خود را در صورت وجود وارد نمایید</p>
									<input placeholder="کد تخفیف" type="text">
									<button type="submit">اعمال کد تخفیف</button>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="coupon_code right">
								<h3>مجموع سبد</h3>
								<div class="coupon_inner">
									<div class="cart_subtotal">
										<p>جمع اجزا</p>
										<p class="cart_amount">1,350,000 تومان</p>
									</div>
									<div class="cart_subtotal ">
										<p>حمل و نقل</p>
										<p class="cart_amount">15,000 تومان</p>
									</div>
									<a href="#">محاسبه هزینه</a>

									<div class="cart_subtotal has-border">
										<p>جمع کل</p>
										<p class="cart_amount">@Model.OrderDetails.ToList().StringSumOrderDetailsWithDiscount() تومان</p>
									</div>
									<div class="checkout_btn">
										<a href="#">پرداخت</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
			<!--coupon code area end-->
			</form>
		</div>