@using Ornaments.DataAccess.Entities.Order;
@model List<Order>
@{
    ViewData["Title"] = "UserPaidOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section bg-light py-4" id="contact-section ">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-7 text-center mb-5">
        <h2>سفارش  ها</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mb-5">
                <div class="table-responsive">

        <table class="table table-striped">
                    <thead class="table-light">
                        <tr>
                            <th>تاریخ پرداخت</th>
                            <th>تلفن</th>
                            <th>آدرس</th>
                            <th>کد پستی</th>
                            <th>نام و نام خانوادگی</th>
                            <th>نوع پرداخت</th>
                            <th>وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in Model)
                            {

                            <tr>
                                <td style="font-size:13px;">@item.PermentDate</td>
                                <td style="font-size:13px;">@item.Phone</td>
                                <td style="font-size:13px;">@item.Address</td>
                                <td style="font-size:13px;">@item.PostCode</td>
                                <td style="font-size:13px;">@item.FullName</td>
                                    @if (item.PayInHome)
                                    {
                                    <td style="font-size:13px;">پرداخت درب منزل</td>
                                    }
                                    else
                                    {
                                    <td style="font-size:13px;">پرداخت آنلابن</td>

                                    }

                                <td style="font-size:13px;">@item.Status</td>
                            </tr>
                            }

                    </tbody>
        </table>
                </div>

      </div>
       
    </div>
  </div>
</div>

